*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(37, 37, 37);
    min-height: 100vh;
    display: flex;
}

#microphone{
    margin:auto;
    background-color: transparent;
    padding: 2vw;
    border:0 solid transparent;
    border-radius: 100%;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 0 1vw rgb(30, 30, 30);
}

#microphone:hover{
    border:0.3vw solid white;

}

#microphone img{
    width: 5vw;
    height: 5vw;
    filter: invert(100%) sepia(0%) saturate(7472%) hue-rotate(121deg) brightness(109%) contrast(100%);
}